body {
  background-image: url("tile_background.png");
  background-color: #f8f9fa;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-container {
  margin-top: 20px;
}

#word-display {
  font-size: 24px;
  font-weight: bold;
  color: #ffc51a;
}

#start-btn {
  margin-top: 10px;
}

/* Adiciona uma animação de tremor quando a classe "shake" é aplicada */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

/* Aplica a animação à classe "shake" */
.shake {
  animation: shake 0.5s ease-in-out;
}
